.comp_month-select {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-width: 100px;

  .date-text {
    padding: 0 4px;
  }

  .left-btn, .right-btn {
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    
    &:hover {
      color: #95a5a6;
    }
    &:active {
      color: #1abc9c;
    }
  }
}