@import '../Form.scss';

.email-input {
  display: flex;
  flex-direction: column;
  @include horizontal-form;

  .ant-input {
    max-width: 260px;
    margin-top: 4px;
  }

  .tip-message-text {
    height: 20px;
  }
}

.submit-email-btn {
  margin-top: 6px;
}