$account-flow-info-height: 180px;

/*reset antd*/
.ant-drawer-body {
  padding: 0;
}

.account-flow-info {
  height: $account-flow-info-height;
  padding: 24px 24px 0px 24px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  border-bottom: 1px solid #95a5a6;

  img {
    grid-column: 2/3;
    width: 70px;
    height: 70px;
  }

  .account-name {
    grid-column: 2/3;
    gird-row: 2/3;
    font-size: 22px;
  }

  .account-month-input {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    align-self: end;

    text-align: center;
  }

  .account-month-outlay {
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: center;
    align-self: end;

    text-align: center;
  }

  .month-select {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: start;
  }
}

.account-flow-desc {
  height: calc(100vh - #{$account-flow-info-height});
  overflow: scroll;

  padding: 10px;
}

.account-flows-date {
  font-size: 16px;
  color: #2c3e50;
}

.account-flow-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;

  height: 50px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px #333333;

  color: #2980b9;

  .type-text {
    margin-left: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .type-remark {
      font-size: 12px;
      color: #2c3e50;
    }
  }
}